a.ynov {
  height: 100%;
  width: 100%;
}

img.ynov {
  width: 150px;
  height: 90px;
}

a.canyouweb {
  height: 100%;
  width: 100%;
}

img.canyouweb {
  width: 130px;
  height: 90px;
}

.uploadfile,
.sharedfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.message-container {
  display: none;
}

.hide {
  opacity: 0;
  transition: opacity 1000ms;
}

hr.solid {
  border-top: 3px solid #bbb;
}
