RewriteRule ^upload\/shared$ /functions.php [L]
RewriteRule ^upload\/upload$ /functions.php [L]
RewriteRule ^files$ /functions.php [L]
RewriteRule ^shared$ /functions.php [L]
RewriteRule ^auth$ /functions.php [L]
RewriteRule ^logout$ /functions.php [L]
RewriteRule ^login$ /login.php [L]
RewriteRule ^$ /index.php [L]
